<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form class="" action="index.html" method="post">
      <button type="submit" name="login">Log In</button>
    </form>
    <p>Welcome to <%= title %></p>
  </body>
</html>
